discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@309c70222eec33acacb8c21bbb0fbe9bc57de661
discord.py==2.0.1
lavalink
thefuzz[speedup]
jishaku
lxml
Pillow
PyNaCl
pytz
wikipedia
wordcloud
yt-dlp
bs4
Emojipedia
asyncpg
httpx
