discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@309c70222eec33acacb8c21bbb0fbe9bc57de661
discord.py @ git+https://github.com/Rapptz/discord.py@cb3ea9b889dcdefa5aa81b1dc7ce4e3e87abeeb0
lavalink
thefuzz[speedup]
jishaku
lxml
Pillow
PyNaCl
pytz
wikipedia
wordcloud
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp@master
bs4
Emojipedia
asyncpg
httpx
